@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    padding: 25px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Outfit', sans-serif;
}


.card{
    background: hsl(0, 0%, 100%);
    max-width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    min-height: 3rem;
    text-align: center;
    padding: 15px
}

.card > img{
    max-width: 100%;
    border-radius: 15px;
}

.card > h3{
    margin: 15px 15px 5px;
    font-size: 1.4rem;
}

.card > p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 10px 30px;
}